*{
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: rgb(58, 226, 43);
    box-sizing: border-box;
  }
  body {
    width: 500px;
    height: 500px;
    background-color: blueviolet;
  }
  
  .bloco {
    float: left;
    margin: 5px;
    background-color: rgb(122, 7, 7);
    width: 128px;
    height: 128px;
    background-image: url('http://image.flaticon.com/icons/svg/96/96958.svg');
  }
  
  .draggable {
    position: relative;
    top: 0px;
    left: 0px;
    transition: transform 0.3s linear z-index 0.3 linear;
    z-index: 0;
  }
  
  .dragging {
    transform: scale(1.1);
    z-index: 999;
  }